@import 'breakpoints';
@import 'colors';

.Project {
  position: relative;
  display: block;
  align-items: center;
  justify-content: center;
  color: $cloud;

  &--datepicker {
    margin-top: 6rem;
  }

  @media(min-width: $breakpoint-tablet) {
    display: flex;
    margin-bottom: 12rem;
  }
}

.Project--datepicker {
  margin-top: 5rem;
}

.Project--datepicker .Project__box {
  margin-top: 1.2rem;
}

.Project--nusci-mag .Project__box {
  margin-top: 1.2rem;
}

.Project__box {
  width: 24rem;
  color: $cloud;

  &--datepicker {
    margin-top: 1.4rem;
  }
}

.Project__circle {
  z-index: 1;
  position: absolute;
  top: 50%;
  margin-top: -0.7rem;
  margin-left: 0.07rem;
  width: 50%;
  width: 1.4rem;
  height: 1.4rem;
  border: 1px solid $punch;
  border-radius: 2rem;
  background-color: $onyx;
}

.Project__header {
  margin-bottom: 16px;
  font-weight: bold;
  font-size: 1.5rem;
  letter-spacing: 1px;
  color: $punch;


  @media(min-width: $breakpoint-tablet) {
    display: block;
    padding-left: 1.8rem;
  }
}

.Project__image {
  box-sizing: border-box;
  width: calc(100% + 28px);
  height: 240px;
  margin: 0 auto 24px;
  margin-left: -14px;
  background-color: $cloud;

  @media(min-width: $breakpoint-tablet) {
    border: 1px solid $punch;
    width: 100%;
  }
}

.Project__line {
  height: 12px;
  width: calc(100% + 28px);
  background-color: $cloud;
  border: 1px solid $punch;
  border-left: 0;
  border-right: 0;
  margin: 60px auto 0;
  margin-left: -14px;

  @media(min-width: $breakpoint-tablet) {
    margin: 20px 0;
    width: 100%;
  }
}

.Project__middle {
  order: 2;
  width: 16rem;
  height: 4rem;
  margin-top: -4rem;
  border-bottom: 1px solid $punch;
  border-right: 1px solid $punch;
}

.Project__subheader {
  margin-bottom: 8px;
  font-weight: bold;
  color: $punch;

  @media(min-width: $breakpoint-tablet) {
    padding-left: 1.8rem;
  }
}

.Project__summary {
  padding-left: 16px;
}

.Project__text {
  max-width: 80%;
  font-weight: 300;
  line-height: 1.3;

  &--summary {
    margin-bottom: 24px;
  }

  @media(min-width: $breakpoint-tablet) {
    padding-left: 1.8rem;
  }
}
