@import 'colors';

.Project {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 12rem;

  &--datepicker {
    margin-top: 6rem;
  }
}

.Project--datepicker .Project__box {
  margin-top: 1.2rem;
}

.Project--nusci-mag .Project__box {
  margin-top: 1.2rem;
}

.Project__circle {
  z-index: 1;
  position: absolute;
  top: 50%;
  margin-top: -0.7rem;
  margin-left: 0.07rem;
  width: 50%;
  width: 1.4rem;
  height: 1.4rem;
  border: 1px solid $punch;
  border-radius: 2rem;
  background-color: $onyx;
}

.Project--datepicker {
  margin-top: 5rem;
}

.Project__box {
  width: 24rem;
  color: $cloud;

  &--datepicker {
    margin-top: 1.4rem;
  }
}

.Project__image {
  width: 18rem;
  height: 18rem;
  border: 1px solid $punch;
  background-color: $cloud;
}

.Project__middle {
  order: 2;
  width: 16rem;
  height: 4rem;
  margin-top: -4rem;
  border-bottom: 1px solid $punch;
  border-right: 1px solid $punch;
}

.Project__box__header {
  margin-bottom: 1rem;
  padding-left: 1.8rem;
  font-weight: bold;
  font-size: 1.5rem;
  letter-spacing: 1px;
}

.Project__box__line {
  width: 100%;
  height: 1px;
  background-color: $punch;
  margin-bottom: 1.2rem;
}

.Project__box__subheader {
  padding-left: 1.8rem;
  margin: 1.5rem 0 .5rem;
  font-weight: bold;
}

.Project__box__text {
  max-width: 80%;
  padding-left: 1.8rem;
  font-weight: 300;
  line-height: 1.3;
}
