@import 'breakpoints';
@import 'colors';
@import 'z-index';

.Project {
  position: relative;
  display: block;
  align-items: center;
  justify-content: center;
  color: $cloud;

  @media(min-width: $project-style-breakpoint) {
    display: flex;
    margin-top: 180px;
  }
}

.Project__description {
  z-index: $project-box;
  min-width: 384px;
  width: 384px;
  color: $cloud;
}

.Project__circle {
  z-index: $project-circle;
  position: absolute;
  top: 50%;
  width: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  border: 1px solid $punch;
  border-radius: 20px;
  background-color: $onyx;
}

.Project__header {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  font-weight: bold;
  font-size: 24px;
  letter-spacing: 1px;
  background-color: $onyx;
  color: $white;

  @media(min-width: $project-style-breakpoint) {
    margin: 0 -2px 0 -2px;
    padding: 0 0 16px 30px;
  }
}

.Project__header-icon {
  display: inline-block;
  height: 24px;
  width: 24px;
  cursor: pointer;
  margin-left: 10px;
}

.Project__image {
  box-sizing: border-box;
  width: calc(100% + 28px);
  height: auto;
  margin: 0 auto 24px;
  margin-left: -14px;
  background-color: $cloud;

  @media(min-width: $project-style-breakpoint) {
    width: 360px;
    height: 240px;
    margin: 0;
  }
}

.Project__line {
  height: 14px;
  width: calc(100% + 28px);
  background-color: $cloud;
  border-left: 0;
  border-right: 0;
  margin: 60px auto 0;
  margin-left: -14px;

  @media(min-width: $project-style-breakpoint) {
    height: 1px;
    border: 1px solid $punch;
    border-top: 0;
    margin: 0 0 20px 0;
    width: 100%;
  }
}

.Project__middle {
  position: relative;
  display: flex;
  align-items: flex-end;
  order: 2;
  width: 256px;
  height: 100px;
  margin-bottom: 100px;
  border-bottom: 1px solid $punch;
  border-right: 1px solid $punch;
}

.Project__middle__frame {
  height: 258px;
  width: 1px;
  border: 1px solid $punch;
  position: absolute;
  top: -29px;
  width: 120px;
  left: -120px;
  border-left: 0;
}

.Project__subheader {
  margin-bottom: 8px;
  font-weight: bold;
  color: $white;

  @media(min-width: $project-style-breakpoint) {
    padding-left: 1.8rem;
  }
}

.Project__summary {
  padding-left: 16px;
}

.Project__text {
  max-width: 80%;
  font-weight: 300;
  line-height: 1.3;

  &--summary {
    margin-bottom: 18px;
  }

  @media(min-width: $project-style-breakpoint) {
    padding-left: 1.8rem;
  }
}
