@import 'breakpoints';
@import 'colors';
@import 'sizes';

::selection {
  background-color: #ff8aa1;
}

.AboutPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
  padding-top: $nav-height;
  background-color: $onyx;
}

.AboutPage__circuit {
  position: relative;
  display: flex;
  flex-flow: wrap;
  align-items: baseline;
  justify-content: center;
  box-sizing: border-box;
  width: 80%;
  max-width: 800px;
  padding: 50px 40px;
  border: 1px solid $punch;
  border-radius: 2px;
  color: $cloud;
  font-size: 15px;

  @media(min-width: $breakpoint-tablet) {
    justify-content: flex-start;
  }
}

.AboutPage__circuit__battery {
  position: absolute;
  width: 14px;
  border-left: 1px solid $punch;
  background-color: $onyx;

  &--1 {
    top: -14px;
    left: 80px;
    height: 28px;
  }

  &--2 {
    top: -7px;
    left: 90px;
    height: 14px;
  }
}

.AboutPage__circuit__column {
  min-width: 200px;

  @media(min-width: 820px) {
    justify-content: flex-start;
    margin-left: 40px;
  }
}

.AboutPage__circuit__column__answer {
  margin-bottom: 20px;
  max-width: 180px;
  font-weight: 300;
  line-height: 1.2;

  &--link {
    text-decoration: underline;
    transition: 0.37s;

    &:hover {
      color: $punch;
    }
  }
}

.AboutPage__circuit__column__question {
  font-weight: bold;
  line-height: 1.4;
}

.AboutPage__circuit__resume-button {
  position: absolute;
  bottom: -20px;
  padding: 14px;
  background-color: $onyx;
  border: 1px solid currentColor;
  border-radius: 2px;
  font-weight: 300;
  color: $punch;
  cursor: pointer;
  transition: 0.37s;

  &:hover {
    background-color: $punch;
    color: $onyx;
  }

  @media(min-width: $breakpoint-tablet) {
    right: 80px;
  }
}
