@import 'breakpoints';
@import 'colors';
@import 'sizes';
@import 'z-index';

.Navbar {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: $navbar;
  width: 100vw;
  height: $nav-height;
  font-family: 'Moon';
  background-color: $onyx;
}

.Navbar__item {
  position: relative;
  margin: 0 20px;
  color: $punch;
  font-size: 16px;
  letter-spacing: 2px;
  cursor: pointer;
  transition: 0.2s;

  &:hover::after {
    opacity: 1;
  }

  &::after {
    content: '';
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    height: 1px;
    margin-top: 6px;
    background-color: $punch;
    opacity: 0;
    cursor: default;
    transition: 0.2s;
  }

  @media(min-width: $breakpoint-tablet) {
    margin: 0 20px;
    font-size: 18px;
  }
}

.Navbar__item__link {
  padding: 6px;

  &--active {
    border: 1px solid $punch;
  }
}
