.navbar {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  width: 100%;
  height: 6rem;
  font-family: 'Moon';
  background-color: #201f1e;
}

.navbar__item {
  position: relative;
  margin: 0 2rem;
  letter-spacing: 1px;
  color: #ff5c7d;
  cursor: pointer;
  transition: 0.2s;
}

.navbar__item::after {
  content: '';
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  height: 1px;
  margin-top: 2px;
  background-color: #ff5c7d;
  opacity: 0;
  cursor: default;
  transition: 0.2s;
}

.navbar__item:hover::after {
  opacity: 1;
}
