@import 'colors';

.DynamicGreeter {
  padding-top: calc(((100vh - 4.5rem) / 2) - 9rem);
  font-size: 1.1rem;
  font-weight: 300;
}

.DynamicGreeter__text {
  color: $white;
  font-size: 1.3rem;
  line-height: 1.8rem;
  cursor: default;

  &--highlight {
    margin-left: 0.4rem;
    color: $punch;
  }
}
