@import 'colors';
@import 'sizes';

.DynamicGreeter {
  padding-top: calc(((100vh - #{$nav-height}) / 2) - #{$nav-height});
  font-weight: 300;

  @media(min-width: 667px) {
    padding-top: calc(((100vh - #{$nav-height}) / 2) - 130px);
  }
}

.DynamicGreeter__text {
  color: $white;
  font-size: 18px;
  line-height: 1.2;
  cursor: default;

  &--highlight {
    margin-left: 6px;
    color: $punch;
  }

  @media(min-width: 667px) {
    font-size: 20px;
  }
}
