.bar {
  height: 1%;
  width: 6%;
  margin: 0 2%;
  transition: 0.37s;
  transform-origin: top;
}

.bars {
  display: flex;
  width: 80%;
  height: 325px;
  max-width: 1000px;
  transform: scaleY(-1);
}
