@import 'colors';

.HomePage {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  padding-top: 45px;
  background-color: $onyx;
}

.test {
  color: white;
  padding: 20px;
  background-color: $punch;
}
