.home-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  padding-top: 4.5rem;
  background-color: #201f1e;
}
