@import 'breakpoints';
@import 'colors';
@import 'sizes';

.NotFoundPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: $onyx;
}

.NFP__404 {
  width: 160px;
  padding: 16px;
  margin-top: 40px;
  border-bottom: 1px solid $cloud;
  font-size: 56px;
  color: $cloud;
  background-color: $onyx;
  text-align: center;

  @media(min-width: $breakpoint-tablet) {
    width: 224px;
    margin-bottom: 96px;
  }
}

.NFP__box {
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 16px 32px 36px;
}

.NFP__button {
  margin-top: 80px;
  padding: 18px;
  color: $punch;
  border: 1px solid $punch;
  border-radius: 3px;
  background-color: $onyx;
  cursor: pointer;
  transition: 0.37s;

  &:hover {
    color: $onyx;
    background-color: $punch;
  }
}

.NFP__text {
  margin-top: 20px;
  padding: 14px;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.7;
  border-radius: 3px;
  color: $cloud;
  background-color: $onyx;

  @media(min-width: $breakpoint-tablet) {
    padding: 32px;
    font-size: 20px;
    line-height: 1.8;
  }
}

.star-container {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.star-container__star {
  transition: 3s cubic-bezier(1, 0.01, 0, 0.99);
  background-color: $cloud;
}
